<div class="layout-box" igxLayoutJustify="center" igxLayoutDir="row" igxLayoutWrap="wrap">
    <div igxFlex>
        <button class = "mainButton" igxButton="raised" igxRipple="white" routerLink = "/customer-panel/my-memberships">
            MOJE KARNETY
        </button>
    </div>

    <div igxFlex>
        <button class = "mainButton" igxButton="raised" igxRipple="white" routerLink = "/customer-panel/my-trainings">
            MOJE TRENINGI
            <ng-lottie [options] = 'options' class = "dmbl"></ng-lottie>
        </button>
    </div>
    <div igxFlex> 
        <button class = "mainButton" igxButton="raised" igxRipple="white" routerLink = "/customer-panel/my-data">
            MOJE DANE
        </button>
    </div>

    <div igxFlex>
        <button class = "mainButton" igxButton="raised" igxRipple="white" routerLink = "/customer-panel/my-family">
            MOJA RODZINA
        </button>
    </div>
</div>