:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row-layout {
  align-items: center;
}
.row-layout_1 {
  flex: 1 1 auto;
  align-items: stretch;
}
.column-layout {
  align-items: stretch;
}
.navigation-bar {
  height: max-content;
  min-width: min-content;
  flex: 1 0 auto;
}
.views-container {
  flex: 1 1 auto;
  position: relative;
}
.navigation-drawer {
  min-height: 0;
  min-width: min-content;
  flex: 1 0 auto;
}
.navigation-drawer_1 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.icon-button {
  flex: 0 0 auto;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
