<article class="card-number">
    <form>
        <igx-input-group>
            <input igxInput name="fullName" type="text" />
            <label igxLabel for="fullName">Wprowadź numer karty członkowskiej</label>
        </igx-input-group>
    </form>
</article>

<section class="buttons">
    <div *ngFor="let training of trainingList">
        <!--FIXME: powinno być rozmieszczone odpowiednio-->
        <div>
            <button igxButton="raised" igxRipple="white" class="buttons__item" (click)="entryRegistration()">
                {{training.name}}
            </button>
            <igx-dialog #alertok
                title="Udało się zarejestrować wejście!"
                message="Zarejestrowano wejście klienta!"
                leftButtonLabel="OK"
                (onLeftButtonSelect)="alertok.close()">
            </igx-dialog>

            <igx-dialog #alertnotok>
                <igx-dialog-title>
                    <div class="dialog-container">
                        <div class="dialog-title">Nie udało się zarejestrować wejścia!</div>
                    </div>
                </igx-dialog-title>
                <igx-label>
                    Odpowiedni komunikat
                </igx-label>
                <div igxDialogActions>
                    <button igxButton (click)="alertnotok.close()">ANULUJ</button>
                    <button igxButton (click)="alertnotok.close()">JEDNORAZÓWKA</button>
                    <button igxButton (click)="alertnotok.close()">MULTISPORT</button>
                    <button igxButton (click)="alertnotok.close()">OK SYSTEM</button>
                </div>
            </igx-dialog>
        </div>
    </div>
</section>