<div>
    <input #search1 id="search1" placeholder="Szukaj wg imienia i nazwiska..." [(ngModel)]="searchNameAndSurname" (ngModelChange)="grid.findNext(searchNameAndSurname, caseSensitive, exactMatch)" />

    <igx-combo #combo class="combo" [itemsMaxHeight]="250"
        [data]="cardStates" placeholder="Szukaj wg stanu karty" 
        displayKey="name" valueKey="id"
        [(ngModel)]="selectedCardState" searchPlaceholder="Szukaj...">
    </igx-combo>
</div>

<table>
    <tr *ngFor="let customer of customerAndCardStateList">
        <th>
            {{customer.customer.first_name}} {{customer.customer.last_name}}
        </th>
        <th>  
            {{customer.cardState.actual}}
        </th>
        <th> 
            <button igxButton="flat">
                <div *ngIf="!customer.cardState.previous">-</div>
                {{customer.cardState.previous}}
            </button>
        </th>
        <th> 
            <button igxButton="flat">
                <div *ngIf="!customer.cardState.next">-</div>
                {{customer.cardState.next}}
            </button>
        </th> 
    </tr>
</table>