<label igxLabel for="Name" class = "edit-label">Tryb edycji danych klienta</label>
<section class = "Labels">
    <div>
        <img class="profile-pic" [src]="url">
        <div class = "buttons-image">
            <button igxButton="raised" igxRipple="white" >ZRÓB ZDJĘCIE</button>
            <label class="custom-file-upload">
                <input type="file" (change) = "selectFiles($event)">
                WGRAJ Z DYSKU
            </label>
        </div>
    </div>
        <div class="label-group-1">
        <input placeholder="IMIĘ" type="text" class = "input-box" [(ngModel)] = "client.name">
        <br>
        <input placeholder="PŁEĆ" type="text" class = "input-box" [(ngModel)] = "client.gender">
        <br>
        <br>
        <br>
        <input placeholder="ULICA I NUMER DOMU" type="text" class = "input-box" [(ngModel)] = "client.streetNumb">
        <br>
        <input placeholder="MIASTO" type="text" class = "input-box"[(ngModel)] = "client.city">
        <br>
        <input placeholder="WOJEWÓDZTWO" type="text" class = "input-box" [(ngModel)] = "client.voivodeship">
        <br>
        <br>
        <br>
        <input placeholder="E-MAIL" type="text" class = "input-box"[(ngModel)] = "client.mail">
        <br>
        <input placeholder="TELEFON KONTAKTOWY" type="text" class = "input-box"[(ngModel)] = "client.phoneNumb">
    </div>
    <div class="label-group-2">
        <input placeholder="NAZWISKO" type="text" class = "input-box" [(ngModel)] = "client.surname">
        <br>
        <input placeholder="PESEL" type="text" class = "input-box" [(ngModel)] = "client.PESEL">
        <br>
        <br>
        <br>
        <input placeholder="NUMER LOKALU" type="text" class = "input-box" [(ngModel)] = "client.apartmentNumb">
        <br>
        <input placeholder="KOD POCZTOWY" type="text" class = "input-box" [(ngModel)] = "client.postCode">
        <br>
        <br>
        <br>
        <br>
        <input placeholder="DYSCYPLINA" type="text" class = "input-box" [(ngModel)] = "client.dyscypline">
    </div>
</section>

<div class = "accept">
    <button igxButton="raised" igxRipple="white" (click)="manageDialogs()">ZATWIERDŹ</button>
</div>

<div igxOverlayOutlet>
    <igx-dialog #dialog1 #dialog message="Udało się!" 
    leftButtonLabel="OK" (onLeftButtonSelect)="dialog1.close()"  
    [closeOnOutsideSelect]="true">
    </igx-dialog>
</div>


<igx-dialog #dialog2 #dialog message="Nie udało się" leftButtonLabel="OK" 
(onLeftButtonSelect)="dialog2.close()"  
[closeOnOutsideSelect]="true">
</igx-dialog>