<label igxLabel for="Name" class = "edit-label">Tryb edycji danych klienta</label>
<section class = "Labels">
    <img class="profile-pic" src="../../assets/ruda.jpg">
    <div class="label-group-1">
        <input placeholder="IMIĘ" type="text" class = "input-box"/>
        <br>
        <input placeholder="PŁEĆ" type="text" class = "input-box"/>
        <br>
        <br>
        <br>
        <input placeholder="ULICA I NUMER DOMU" type="text" class = "input-box"/>
        <br>
        <input placeholder="MIASTO" type="text" class = "input-box"/>
        <br>
        <input placeholder="WOJEWÓDZTWO" type="text" class = "input-box"/>
        <br>
        <br>
        <br>
        <input placeholder="E-MAIL" type="text" class = "input-box"/>
        <br>
        <input placeholder="TELEFON KONTAKTOWY" type="text" class = "input-box"/>
    </div>
    <div class="label-group-2">
        <input placeholder="NAZWISKO" type="text" class = "input-box"/>
        <br>
        <input placeholder="PESEL" type="text" class = "input-box"/>
        <br>
        <br>
        <br>
        <input placeholder="NUMER LOKALU" type="text" class = "input-box"/>
        <br>
        <input placeholder="KOD POCZTOWY" type="text" class = "input-box"/>
        <br>
        <br>
        <br>
        <br>
        <input placeholder="DYSCYPLINA" type="text" class = "input-box"/>
    </div>
</section>
