<div class="layout-box" igxLayout igxLayoutDir="column" igxLayoutItemAlign="center" >
    <br><br><br>
    <div igxFlex>
        <p class="text" >Aby wygenerować kartę...</p>
    </div>
    <div igxFlex>
        <p class="text1"> Wybierz swoją dyscyplinę, która pojawi się na Twojej karcie członkowskiej: </p>
    </div>
    <div igxFlex>
        <igx-radio *ngFor="let discipline of disciplines" [value]="discipline" [(ngModel)]="selected">
            {{discipline}}
        </igx-radio>
    </div>
    <br>
    <div igxFlex>
        <button class="Button" igxButton="raised" igxRipple="white" (click)="sendDiscipline()" >
            Wyślij
        </button>
    </div>
    <igx-dialog #dialog2 message={{dialogMessage}} leftButtonLabel="OK" 
    (onLeftButtonSelect)="dialog2.close()"
    [closeOnOutsideSelect]="true" title = "COŚ SIĘ NIE UDAŁO!">
    </igx-dialog>
</div>