<header class="header">
    <button igxButton="raised" igxRipple="white" class="header__button" [routerLink]="linkAddAClient">
        + DODAJ KLIENTA
    </button>
    <button igxButton="raised" igxRipple="white" class="header__button" [routerLink]="linkEntry">
        + ZAREJESTRUJ WEJŚCIE
    </button>
    <img class="header__logo" src="../../assets/logoKodokanWektorowo.svg">
</header>
<nav class="nav">
    <h2 class="nav__title">MENU</h2>
    <section class="buttons">
        <button igxButton="raised" igxRipple="white" class="buttons__item" [routerLink]="linkCustomers">
            KLIENCI
        </button><button igxButton="raised" igxRipple="white" class="buttons__item" [routerLink]="linkEntrance">
            WEJŚCIA
        </button><button igxButton="raised" igxRipple="white" class="buttons__item" [routerLink]="linkMembership">
            KARTY CZŁONKOWSKIE
        </button><button igxButton="raised" igxRipple="white" class="buttons__item" [routerLink]="linkPasses">
            KARNETY
        </button>
    </section>
    <button igxButton="icon" class="nav__backBtn" routerLink="">
        <igx-icon fontSet="material">arrow_back</igx-icon>
    </button>
</nav>
<section class="component">
    <router-outlet name="primary"></router-outlet>
</section><!-- This is just an example showing how you might open the dialog. -->




