<label igxLabel for="Name" class = "edit-label">Rodzina klienta</label>

<div class = "wrap">
    <igx-list class = "familyList">
        <igx-list-item isHeader="true" class = "listHeader">
            {{fullName}}
        </igx-list-item>
        <igx-list-item *ngFor="let member of familyArr" class = "listItem">
            <h4 igxListLineTitle>{{ member.firstName + " " + member.lastName }}</h4>
            <p igxListLineSubTitle>{{ member.relationship }}</p>
            <button igxButton="raised" igxRipple="white" class = "listBtn">
                <span class="iconify" data-icon="bx-bx-menu" data-inline="false"></span>
            </button>
        </igx-list-item>
    </igx-list>
</div>

<div class = "buttonWrap">
    <button igxButton="raised" igxRipple="white" class = "addMemberBtn" 
    routerLink = "/receptionist-panel/customer-add-family-member">
        DODAJ CZŁONKA RODZINY
    </button>
</div>
