.edit-label {
    color: #BDBDBD;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.familyList {
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    min-width: 35%;
    border-radius: 0;

}

.wrap {
    display: flex;
    justify-content: center;
}

.iconify {
    min-width: 25px;
    min-height: 25px;
    color: #DAA520;
}

.listItem {
    margin-left: 10%;
}

.listBtn {
    background-color: #f2f2f2;
    max-width: 20px;
}

.listHeader {
    color: #DAA520;
    font-size: 15px;
}

.buttonWrap {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.addMemberBtn {
    border-radius: 4px;
    background-color: #BDBDBD;
    color: #3F3F3F;
    padding-top: 30px;
    padding-bottom: 30px;
}

.deleteBtn {
    background-color: #FF0000;
    margin-right: 15px;
}