.mat-stepper-vertical{
  padding: 0 100px 24px 100px;
}

.mat-stepper-horizontal {
    background-color: transparent;
    padding: 2% 10% 24px 10%;
  }
  
.mat-form-field {
  margin-top: 16px;
  
}
.rightBtn{
  float: right;


}
.greyBtn{
  background-color: #ffffffa6;
}

igx-navbar{
  font-family: Helvetica, sans-serif;
}
.centered{
  text-align: center;
  margin-top: 50px;
}
igx-checkbox{
  margin-top: 10px;
}

.inputs{
  padding: 0% 30% 10px 30%;
}


::ng-deep .mat-step-header  .mat-step-icon-selected {
  background-color: #DAA520;
  color: white;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active{
  color: white;
}
::ng-deep  .mat-step-header .mat-step-icon-state-edit{
  background-color: #DAA520;
}
#previous{
  float: left;
}
.container{
  justify-content: space-between;
  padding: 0% 30% 2% 30%;
}
::ng-deep .mat-horizontal-stepper-header-container{
  margin-bottom: 2%;
}

igx-radio-group{
  float: right;
}
.yellowText{
  color: #DAA520;
}

webcam, .snapshot{
  display: block;
  text-align: center;
  margin-bottom: 2%;
}
.actionBtn{

}

.photoBtn{
  text-align: center;
}
img{
  transform: scaleX(-1);
}
.warnings{
  margin-top: 5%;
  text-align: center;
  color: grey;
}
.mainContainer{
  overflow: hidden;
  margin-bottom: 5%;
}
.mainContainerOne{
  padding-left: 7%;
  width: 700px; /* on Phone - CHANGE THIS PROPERTY!!!*/
  float:left; /* add this */


}
.mainContainerTwo{

  overflow: hidden;
  text-align: center;
  padding: 3% 0 0 7%;

}
.containerOne, .containerTwo, .containerThree {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 0 3% 0 ;

}
.labels{
  min-width: 250px;
  margin: 0 4% 0 4%;
}
.savedImg{
  width: 200px;
  float:left;

}

