<igx-navbar>
    <button igxButton="icon" igxRipple="white" igxNavbarAction (click)="drawer.toggle()">
        <igx-icon>menu</igx-icon>
    </button>
    <div igxNavbarTitle>
        <div>Zarejestruj się</div>
    </div>
</igx-navbar>
<div class="layout-box" igxLayout igxLayoutDir="row">
    <div igxFlexShrink>
        <igx-nav-drawer #drawer position="left">
            <ng-template igxDrawer>
                <!-- Here's an example showing how you would specify drawer items. -->
                <span igxDrawerItem routerLink="/register/new">
                    Nowy
                </span>
                <span igxDrawerItem routerLink="/register/registered">
                    Zarejestrowano
                </span>
            </ng-template>
        </igx-nav-drawer>
    </div>
    <div igxFlex>
        <div class="views-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



