
<div igxLayout igxLayoutDir="column" igxLayoutItemAlign="center">
    <div igxFlex>
        <div igxLayout igxLayoutDir="row">
            <div igxFlex>
                <igx-input-group class="input">
                    <input igxInput name="name" type="text" required="required" [(ngModel)]="client.firstName">
                    <label igxLabel for="name">
                        Imię
                    </label>
                </igx-input-group>
            </div>
            <div igxFlex #target="tooltipTarget" [igxTooltipTarget]="tooltipRef">
                <span class="iconify help"  data-icon="bx-bx-help-circle" data-inline="false"></span>
            </div>
        </div>
    </div>
    <div igxFlex>
        <igx-input-group class="input">
            <input igxInput name="surname" type="text" required="required" [(ngModel)]="client.lastName">
            <label igxLabel for="surname">
                Nazwisko
            </label>
        </igx-input-group>
    </div>
    <div igxFlex>
        <igx-input-group class="input">
            <input igxInput name="pesel" type="text" required="required" [(ngModel)]="client.pesel">
            <label igxLabel for="pesel">
                PESEL
            </label>
        </igx-input-group>
    </div>
    <div igxFlex>
        <button igxButton="raised" igxRipple="white" (click)="addClient()">
            Zarejestruj
        </button>
    </div>
</div>

<div #tooltipRef="tooltip" igxTooltip>
    Proszę podać swoje imię
</div>

<!-- This is just an example showing how you might open the dialog. -->
<igx-dialog #dialog message={{dialogMessage}} leftButtonLabel="OK" (onLeftButtonSelect)="dialog.close()" rightButtonLabel="CANCEL" (onRightButtonSelect)="dialog.close()" [closeOnOutsideSelect]="true"></igx-dialog>