img{
  background: white;
  margin-top: 30px;
  margin-bottom: 10px;
}
.layout-box {
  width: 100%;
}
.layout-box__el:first-of-type{
  width: 20%;
  text-align: center;
}
button{
  width: 95%;
  margin: 5% 0%;
  background-color: rgb(189, 189, 189);
  border-radius: 10px;
}
.layout-box__el {
  margin: 0% 3%;
  width: 25%;
  display: inline-block;
}
.gap{
  height: 50px;
}
label{
  text-transform: uppercase;
}

.confirmBtn{
  width: 270px;
  background-color: #DAA520;
  float: right;
  margin: 4% 15%;
}
.photo-section{
  text-align: center;
  padding: 3%;
}
.photoBtn{
  width: 50%;
  margin: 3% 25%;
}
h5{
  margin-bottom: 30px;
  color: rgb(158, 158, 158);
}
//dialog window


.card-wrapper {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 3;
  justify-content: center;
  text-align: center;
  font-family: Helvetica, sans-serif;

}

.errordialog{
  height: 150px;
}
.successdialog{
  height: 240px;
}

.header{
  padding: 10% 0 5% 0;
}

.header h3{
  font-size: 0.9rem;
  line-height: 130%;
  font-weight: 200;
  letter-spacing: 1px;
}

.header h2{
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: 200;
  letter-spacing: 1px;
  color: rgb(74, 163, 74);
}

.card-wrapper button{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  background-color: #3f3f3f;
  color: #DAA520;
  margin: 5% 0;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.card-wrapper button:hover {
  background-color: #636363;
  box-shadow: 0px 15px 20px rgba(185, 185, 185, 0.4);
  color: rgb(236, 235, 235);

}
.card-wrapper .first-button {
  bottom: 20px;
}

.card-wrapper button span{
  font-size: 0.9rem;
  font-weight: 200;
}

.dialog-content p{
  color: #3f3f3f;
}
.dialog-content{
  background-color: #DAA520;
  width: 100%;
}
::ng-deep .igx-dialog__window-content {
  padding: 0;
  border-radius: 10px;
  background-color: #DAA520;
}

.card-wrapper .light-grey-button{
  background-color: rgb(194, 191, 191);
  color: #3f3f3f;
  font-weight: bold;
}