<div class="container">
     <igx-input-group type="search" class="search">
        <igx-prefix>
            <igx-icon>search</igx-icon>
        </igx-prefix>

        <input #input1 igxInput
            placeholder="Szukaj" 
            class="input" 
            id="input1"
            [(ngModel)]="searchBox"
            (keydown.enter)="searchCustomers($event)"
        />
    </igx-input-group>

    <div class="drop-down">
        <igx-combo #combo class="combo" [itemsMaxHeight]="250"
            [data]="filter_states" placeholder="Filtry" searchPlaceholder=""
            displayKey="name" valueKey="id"
            (onSelectionChange)="singleSelection($event)"
            [(ngModel)]="selectedFilters" >
        </igx-combo>
               
    </div>
</div>
    
<table>
    <tr class="row row--first">
        <td class="column column--first">Imię i nazwisko</td>
        <td class="column column--second"></td>
        <td class="column column--third"></td>
    </tr>
    <tr class="row" *ngFor="let item of customerList"> <!-- będzie trzeba podać listę za pomocą ngFor/ dodać interpolację w imię i nazwisko / dodać -->
        <td class="column column--first">
            {{item.firstName}} {{item.lastName}}
        </td>
        <td class="column column--second"><!--FIXME: link do strony ze szczegółami customera-->
            <button class="button-table" (click)="toDetails(item.customerID)">Pokaż</button>
        </td>
        <td class="column column--third">
            <button class="button-table" (click)="deleteCustomerPrep(item)">Usuń</button>
        </td>
    </tr>
</table>

<!-- do dodania interpolacja z listy Nazwisko i imię -->
<igx-dialog #dialogDelete message="Czy na pewno chcesz usunąć klienta ?" 
    leftButtonLabel="Tak" 
    (onLeftButtonSelect)="deleteCustomer()" 
    rightButtonLabel="Nie" 
    (onRightButtonSelect)="dialogDelete.close()" 
    [closeOnOutsideSelect]="true">
</igx-dialog>


<igx-dialog #errorGetCustomers message="Problem z pobraniem listy klientów" 
    id="errorGetCustomers" 
    leftButtonLabel="Wróć" 
    (onLeftButtonSelect)="errorGetCustomers.close()">
</igx-dialog>
<!-- "errorDataLink()" 
    routerLinkActive="router-link-active" 
    [closeOnOutsideSelect]="true" -->

<igx-dialog #errorDeleteCustomer message="Nie można usunąć tego klienta" 
    id="errorDeleteCustomer" 
    rightButtonLabel="Wróć" 
    (onRightButtonSelect)="errorDeleteCustomer.close()" 
    [closeOnOutsideSelect]="true">
</igx-dialog>

<igx-dialog #errorFilter message="Nie wybrano filtra" 
    id="errorFilter" 
    leftButtonLabel="Wróć" 
    (onLeftButtonSelect)="errorFilter.close()">
</igx-dialog>


