<div igxLayout  igxLayoutDir="column" igxLayoutItemAlign="center" >
    <div igxFlex igxFlexShrink="1" class="text">
       
            REJESTRACJA PRZEBIEGŁA POMYŚLNIE. 
            ABY ZACZĄĆ KORZYSTAĆ Z SYSTEMU, 
            UTWÓRZ I OPŁAĆ SWOJĄ 
            SPERSONALIZOWANĄ KARTĘ 
            CZŁONKOWSKĄ  
    </div> 
    <div igxFlex>
        <button class="Button" igxButton="raised" igxRipple="white" routerLink = "/member-card/choose-discipline">
            Dalej
        </button>
    </div>
</div>