<section class = "Labels">
    <img class="profile-pic" src="../../assets/ruda.jpg">
    <div class="label-group-1">
        <label igxLabel for="Name">Imię </label>
        <br>
        <label igxLabel for="Gender">Płeć </label>
        <br>
        <br>
        <br>
        <label igxLabel for="Street-Numb">Ulica i numer domu </label>
        <br>
        <label igxLabel for="City">Miasto </label>
        <br>
        <label igxLabel for="Voivodeship">Województwo </label>
        <br>
        <br>
        <br>
        <label igxLabel for="Mail">E-mail </label>
        <br>
        <label igxLabel for="Phone-Numb">Telefon kontaktowy </label>
    </div>
    <div class="label-group-2">
        <label igxLabel for="Surname">Nazwisko </label>
        <br>
        <label igxLabel for="Pesel">PESEL </label>
        <br>
        <br>
        <br>
        <label igxLabel for="Apartment-Numb">Numer lokalu </label>
        <br>
        <label igxLabel for="Post-Code">Kod pocztowy </label>
        <br>
        <br>
        <br>
        <label igxLabel for="Card-Numb">Numer karty członkowskiej </label>
        <br>
        <label igxLabel for="Dyscypline">Uprawiana dyscyplina </label>
    </div>
</section>

<section class = "Buttons">
    <button igxButton="raised" igxRipple="white" routerLink = "/receptionist-panel/customer-edit-data">EDYTUJ DANE</button>
    <button igxButton="raised" igxRipple="white">DODAJ KARNET</button>
    <button igxButton="raised" igxRipple="white">RODZINA</button>
    <button igxButton="raised" igxRipple="white">POKAŻ KARNETY</button>
    <button igxButton="raised" igxRipple="white">POKAŻ WEJŚCIA</button>
    <button igxButton="raised" igxRipple="white">WYŚLIJ MAILA</button>    
</section>