<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<header class = "topBar">
    <button class="iconify" data-icon="bx-bx-arrow-back" igxButton="icon" routerLink="..">
    </button>
    <div igxNavbarTitle>
    <div class = "name" >Karta członkowska</div>
    </div>
    <img src="assets/logoKlubSportowyKodokanTransparent.png" alt="logoKlubu" class = "logo">
</header>
<div class="layout-box" igxLayoutDir="column">
    <div igxFlex>
        <div class="views-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>