:host {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.row-layout {
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.title {
  width: max-content;
  height: max-content;
}
.row {
  display: flex;
}
